
@{
    ViewBag.Title = "AdvisorSpeech";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}

<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/bg/bg6.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title text-white">মাননীয় প্রধান উপদেষ্টার বাণী</h2>
                        <ol class="breadcrumb text-center text-black mt-10">
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li class="active text-gray-silver"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img class="pull-left flip mr-15 thumbnail" src="~/Content/web-images/nanak.jpg" alt="" width="316" height="320">
                    <p></p>
                    <div class="clearfix"></div>
                    <h4>এ্যাড. জাহাঙ্গীর কবির নানক-এম.পি </h4>
                    <h5>
                        মন্ত্রী, বস্ত্র ও পাট মন্ত্রণালয়<br>
                        গণপ্রজাতন্ত্রী বাংলাদেশ সরকার
                    </h5>

                    <p>&nbsp:</p>

                    <p>মোহাম্মদপুর মহিলা কলেজ নারীদের উচ্চ শিক্ষার লক্ষ্যে ১৯৯১ সালে প্রতিষ্ঠিত। ২০০৯ সাল থেকে 2023 সাল পর্যন্ত আমি এই কলেজের সভাপতি হিসেবে দায়িত্ব পালন করেছি। দায়িত্ব নেওয়ার সময় কলেজের ছাত্রীদের জন্য মাত্র ৬টি শ্রেণি কক্ষ ছিল। অর্থাভাবে শিক্ষকগণের বেতন ঠিকমত পরিশোধ করা যেতো না। ২০১৭ সালে কলেজের বর্তমান গতিশীল অধ্যক্ষকে নিয়োগ দেই। তার নেতৃত্বে গভর্নিং বডির পরামর্শক্রমে শিক্ষক, শিক্ষার্থী এবং অভিভাবকগণ মিলে কলেজের শিক্ষার মান ও পরিবেশ উন্নয়নে কার্যকর ও গতিশীল ভূমিকা পালন করতে শুরু করে, আসে ইতিবাচক ফল। </p>
                    <p>ছাত্রীদের জন্য বর্তমানে আধুনিক সুবিধা সম্বলিত ২৬টি শ্রেণিকক্ষ রয়েছে, বানানো হয়েছে নতুন বেঞ্চ, বসার চেয়ার, পড়ার টেবিল, নতুন ডিপার্টমেন্ট, বিশুদ্ধ খাবার পানি, উন্নতমানের ডাইনিং রুম, আধুনিক লাইব্রেরি, কম্পিউটার ল্যাব ব্যবস্থা করা হয়েছে, আধুনিক প্রযুক্তিগত সুবিধা। এসব সুবিধার ফলে শিক্ষার্থী সংখ্যা অনেক বৃদ্ধি পেয়েছে। শিক্ষার্থী ও শিক্ষকগণের জন্য এসি সুবিধা সম্বলিত আধুনিক স্টাফ কাউন্সেলিং ও ক্লাস রুমের ব্যবস্থা করা হয়েছে। নামাযের জন্য নতুন মসজিদ নির্মাণ করা হয়েছে। শিক্ষক-কর্মচারীগণের বেতন ও অন্যান্য সুবিধা বৃদ্ধি করা হয়েছে। ইতোমধ্যে আমি এই কলেজে প্রায় ১০ কোটি টাকার উন্নয়নমূলক কাজ করেছি। এটি মাননীয় প্রধানমন্ত্রীর জন্যই সম্ভব হয়েছে। ভবিষ্যতে আমি কলেজের ভৌত অবকাঠামো ও শিক্ষার মানোন্নয়নে আরও গতিশীল ভূমিকা পালন করবো। </p>
                    <p>আমি আশা করি মোহাম্মদপুর মহিলা কলেজ থেকে ছাত্রীরা উচ্চ শিক্ষা নিয়ে মাননীয় প্রধানমন্ত্রীর ন্যায় মানুষের কল্যাণে কাজ করে যাবে। বিগত কয়েক বছরে কলেজটি যেভাবে শিক্ষার মান-উন্নয়নে এগিয়ে যাচ্ছে তাতে আমি আশাবাদী অল্প কিছুদিনের মধ্যে এটি বাংলাদেশের একটি অন্যতম নারী শিক্ষা প্রতিষ্ঠান হিসেবে আত্মপ্রকাশ করবে। ধন্যবাদ। </p>

                    <h5>
                        জয় বাংলা, জয় বঙ্গবন্ধু। <br>

                        বাংলাদেশ চিরজীবী হোক।
                    </h5>

                    <div class="separator separator-rouned">
                        <i class="fa fa-cog"></i>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-md-3">   <img alt="..." src="~/Content/web-images/6.jpg" alt="" width="240" height="200">  </div>
                        <div class="col-xs-6 col-md-3">   <img alt="..." src="~/Content/web-images/7.jpg" alt="" width="240" height="200">  </div>
                        <div class="col-xs-6 col-md-3">  <img alt="..." src="~/Content/web-images/8.jpg" alt="" width="240" height="200">  </div>
                        <div class="col-xs-6 col-md-3">  <img alt="..." src="~/Content/web-images/10.jpg" alt="" width="240" height="200">  </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

