
@{
    ViewBag.Title = "HonorsDepartment";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}

<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="~/Content/web-images/bg/bg6.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title text-white">ভর্তি বিষয়ক তথ্যঃ উচ্চমাধ্যমিক</h2>
                        <ol class="breadcrumb text-center text-black mt-10">
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li class="active text-gray-silver"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img class="pull-left flip mr-15 thumbnail" src="~/Content/web-images/1.jpg" alt="" width="430" height="240">
                    <p>নারী জাতিকে সুশিক্ষিত করে তোলার লক্ষ্যে ১৯৯১ সালের ১৭ অক্টোবর নূরজাহান রোডের উত্তর পাশে নারী শিক্ষার জন্য নির্ধারিত স্থানে ০.৮০ একর জমির উপর স্থাপিত হয় ‘মোহাম্মদপুর মহিলা কলেজ’। টিনশেড ঘরে ৩৪ জন ছাত্রী নিয়ে শুরু হয় কলেজের উচ্চমাধ্যমিক শিক্ষা কার্যক্রম। কলেজের প্রতিষ্ঠাতা জনাব এহসানুল হক সেতু এবং কলেজের প্রতিষ্ঠাকালীন অধ্যক্ষ জনাব সাহিদুন নাহার । ১৯৯৪ সালে কলেজটি এম.পি.ও ভুক্ত হয়। একই সময়ে কলেজে জাতীয় বিশ্ববিদ্যালয়ের অধীনে ডিগ্রী (পাস) কোর্স চালু করা হয় এবং ১৯৯৬ সালে চালু হয় ছাত্রী হোস্টেল। ১৯৯৭ সাল থেকে কলেজে চালু হয় অনার্স কোর্স। ২০১8 সালে চালু হয় মাস্টার্স কোর্স এবং ২০২৩ সালে চালু হয় বিবিএ ও সিএসই প্রফেশনাল কোর্স। </p>
                    <div class="clearfix"></div>
                    <!--    <h5>লক্ষ্য</h5>
                     <p>মূল্যবোধ সম্পন্ন আদর্শ মানুষ গড়ে তোলাই আমাদের অঙ্গীকার</p>

                     <div class="separator separator-rouned">
                       <i class="fa fa-cog fa-spin"></i>
                     </div>

                                 <h5>উদ্দেশ্য</h5>
                     <p>মানব কল্যাণ কাজকে সামনে রেখে নারী জাতিকে সু-শিক্ষায় শিক্ষিত করে উন্নত জাতি গঠন করা। </p>-->

                    <div class="separator separator-rouned">
                        <i class="fa fa-cog"></i>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-md-3">   <img alt="..." src="~/Content/web-images/25.jpg" alt="" width="240" height="200">  </div>
                        <div class="col-xs-6 col-md-3">   <img alt="..." src="~/Content/web-images/26.jpg" alt="" width="240" height="200">  </div>
                        <div class="col-xs-6 col-md-3">  <img alt="..." src="~/Content/web-images/27.jpg" alt="" width="240" height="200">  </div>
                        <div class="col-xs-6 col-md-3">  <img alt="..." src="~/Content/web-images/28.jpg" alt="" width="240" height="200">  </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

