
@{
    ViewBag.Title = "Routine";
    Layout = "~/Views/Shared/_publicLayout.cshtml";
}

<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider layer-overlay overlay-white-8" data-bg-img="images/bg/bg6.jpg">
        <div class="container pt-60 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-8 text-left flip xs-text-center">
                        <h2 class="title">Class Routine of MMC</h2>
                    </div>
                    <div class="col-sm-4">
                        <ol class="breadcrumb text-right sm-text-center text-black mt-10">
                            <li><a href="http://mmc.ac.bd/">Home</a></li>
                            <li><a href="#">Pages</a></li>
                            <li class="active text-gray-silver">Routine</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                    <div class="separator separator-rouned">
                        <i class="fa fa-cog fa-spin"></i>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-3"> <a class="thumbnail" href="#"> <img alt="..." src="https://placehold.it/200x200" class="img-fullwidth"> </a> </div>
                        <div class="col-xs-6 col-md-3"> <a class="thumbnail" href="#"> <img alt="..." src="https://placehold.it/200x200" class="img-fullwidth"> </a> </div>
                        <div class="col-xs-6 col-md-3"> <a class="thumbnail" href="#"> <img alt="..." src="https://placehold.it/200x200" class="img-fullwidth"> </a> </div>
                        <div class="col-xs-6 col-md-3"> <a class="thumbnail" href="#"> <img alt="..." src="https://placehold.it/200x200" class="img-fullwidth"> </a> </div>
                    </div>
                    <div class="separator separator-rouned">
                        <i class="fa fa-cog"></i>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</div>

