
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"></h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="nav">
                    <h1 style="margin:0 auto;"> </h1>
                    <div class="btn">
                        <button class="dig">Digital clock</button>
                        <button class="analog">Analog Clock</button>
                    </div>
                </div>
                <div class="clock">
                    <div class="hour">
                        <div class="hor" id="hor">

                        </div>
                    </div>
                    <div class="minutes">
                        <div class="mn" id="mn">

                        </div>
                    </div>
                    <div class="seconds">
                        <div class="sc" id="sc">

                        </div>
                    </div>
                </div>
                <div class="datetime">
                    <div class="date">
                        <span id="day">Day</span>,
                        <span id="month">Month</span>
                        <span id="num">00</span>,
                        <span id="year">Year</span>
                    </div>
                    <div class="time">
                        <span id="hour">00</span>:
                        <span id="min">00</span>:
                        <span id="sec">00</span>
                        <span id="period">AM</span>
                    </div>
                </div>
            </div>
            @*<div class="col-md-12" style="margin-top:150px;">
            <span><img src="~/Content/images/logo.png" alt="logo" /> </span>
        </div>*@
        </div>
    </div>
</section>

