
@{
    ViewBag.Title = "AddForms";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Forms Setup</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Forms Setup</li>
                </ol>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <a href="@Url.Action("Forms","Notice", new {Areas="Admin" })" class="btn btn-block btn-outline-primary btn-lg"><i class="fa fa-list"></i> View Forms</a>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form method="post" id="frmNoticeInfo" action="@Url.Action("AddForms","Notice", new { Areas="Admin" })" enctype="multipart/form-data">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-bars"></i>
                                Forms Setup/Upload
                            </h3>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Forms Title</label>
                                        <input type="text" class="form-control" id="NoticeTitle" name="NoticeTitle" />
                                    </div>
                                </div>                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Attachment</label>
                                        <input type="file" name="attchment" id="attchment" class="attachment-block" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="submit" id="btnSubmit" class="btn btn-primary" value="Save" />
                            <input type="button" id="btnCancel" class="btn btn-danger" value="Clear" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>

@section scripts{
    <script type="text/javascript">


        $("#btnCancel").click(function () {
            $('#frmClassInfo').data('bootstrapValidator').resetForm();
            clearField();
        });


        $(document).ready(function () {

            var data =@Html.Raw(Json.Encode(ViewBag.Message));
            IntelliERP.Toastr.Show(data.MessageType, data.Message, null);

            $('#frmNoticeInfo').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    NoticeTitle: {
                        validators: {
                            notEmpty: {
                                message: 'required'
                            }
                        }
                    }
                }
            });

        });


        @*$("#btnSubmit").click(function () {
            $('#frmClassInfo').data('bootstrapValidator').resetForm();
            $('#frmClassInfo').bootstrapValidator('validate');
            var isValid = $('#frmClassInfo').data('bootstrapValidator').isValid();
            if (isValid) {
                save();
            }
        });

        var save = function () {

            $.ajax({
                url: '@Url.Action("AddNewClassInfo","ClassInfo")',
                type: 'post',
                data: $('#frmClassInfo').serialize(),
                success: function (res) {
                    EIMS.Toastr.Show(res.MessageType, res.Message, null);
                    if (res.MessageType == '1') {

                        clearField();
                    }
                },
                error: function () {
                }
            });
        };*@

        function clearField() {
            $('#ClassName').val('');
            $('#ClassShortName').val('');
            $('#ClassCode').val('');
        }

    </script>
}

