.w-315 {
    width: 315px !important;
}
.w-190 {
    width: 190px !important;
}
.e-menu-style {
    width: 100% !important;
    float: none !important;
    padding: 0 !important;
    border-right: 0 !important;
}