
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>MMC :: Back Office :: Login</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/AdminLogin/v1/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/AdminLogin/v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/AdminLogin/v1/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/AdminLogin/v1/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/AdminLogin/v1/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/AdminLogin/v1/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/AdminLogin/v1/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/AdminLogin/v1/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/AdminLogin/v1/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/AdminLogin/v1/css/main.css">
    <!--===============================================================================================-->

</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('/Content/images/bg-01.jpg');">
            <div class="wrap-login100 p-l-110 p-r-110 p-t-20 p-b-33">
                <div class="row login100-form-title p-b-30">
                    @*<img src="~/Content/images/team-pharma-logo.png" alt="logo" />*@
                </div>
                <form class="login100-form validate-form flex-sb flex-w" action="@Url.Action("Index","BackOfficeLogin", new { Areas="Admin" })" method="post">
                    <span class="login100-form-title p-b-15">
                        Account Login
                    </span>
                    <span class="login100-form-title p-b-15">
                        <p style="color:red">@ViewBag.Error</p>
                    </span>

                    <div class="p-t-15 p-b-9">
                        <span class="txt1">
                            Username
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Username is required">
                        <input class="input100" type="text" name="username" required="">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="p-t-13 p-b-9">
                        <span class="txt1">
                            Password
                        </span>

                        <a href="@Url.Action("ForgotPassword","BackOfficeLogin", new { area = "Admin" })" class="txt2 bo1 m-l-5">
                            Forgot?
                        </a>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="password" required="">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn" type="submit">
                            Sign In
                        </button>
                    </div>

                    <div class="w-full text-center p-t-20">
                        <span class="txt2">
                            <p class="agileinfo">Developed by: HAKS SOLUTION.</p>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Content/AdminLogin/v1/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/AdminLogin/v1/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/AdminLogin/v1/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/AdminLogin/v1/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/AdminLogin/v1/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/AdminLogin/v1/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/AdminLogin/v1/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/AdminLogin/v1/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/AdminLogin/v1/js/main.js"></script>
</body>
</html>
