
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">User Setup</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">User</li>
                </ol>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <a href="@Url.Action("Users","User")" class="btn btn-block btn-outline-primary btn-lg"><i class="fa fa-list"></i> View Users</a>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form id="frmPass" action="@Url.Action("ChangePassword","User")" method="post">
                    <!-- row -->
                    <div class="mb-3 row">
                        <label for="currentPassword" class="col-sm-4 col-form-label form-label">Current password</label>

                        <div class="col-md-8 col-12">
                            <input type="password" class="form-control" placeholder="Enter Current password" id="CurrentPassword" name="CurrentPassword" required>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="mb-3 row">
                        <label for="currentNewPassword" class="col-sm-4 col-form-label form-label">New password</label>

                        <div class="col-md-8 col-12">
                            <input type="password" class="form-control" placeholder="Enter New password" id="NewPassword" name="NewPassword" required>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row align-items-center">
                        <label for="confirmNewpassword" class="col-sm-4 col-form-label form-label">Confirm new password</label>
                        <div class="col-md-8 col-12 mb-2 mb-lg-0">
                            <input type="password" class="form-control" placeholder="Confirm new password" id="ConfirmNewPassword" name="ConfirmNewPassword" required>
                        </div>
                        <!-- list -->
                        <div class="offset-md-4 col-md-8 col-12 mt-4">
                            <h6 class="mb-1">Password requirements:</h6>
                            <p>Ensure that these requirements are met:</p>
                            <ul>
                                <li> Minimum 8 characters long the more, the better</li>
                                <li>At least one lowercase character</li>
                                <li>At least one uppercase character</li>
                                <li>
                                    At least one number, symbol, or whitespace character
                                </li>
                            </ul>
                            <button type="submit" class="btn btn-primary">
                                Save Changes
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>

@section scripts{
    <script type="text/javascript">

        
        $(document).ready(function () {

            $('#frmUser').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    
                    CurrentPassword: {
                        validators: {
                            notEmpty: {
                                message: 'required'
                            }
                        }
                    },
                    NewPassword: {
                        validators: {
                            notEmpty: {
                                message: 'required'
                            }
                        }
                    }
                }
            });

        });


        $("#btnSubmit").click(function () {
            $('#frmUser').data('bootstrapValidator').resetForm();
            $('#frmUser').bootstrapValidator('validate');
            var isValid = $('#frmUser').data('bootstrapValidator').isValid();
            if (isValid) {
                save();
            }
        });

        var save = function () {

            $.ajax({
                url: '@Url.Action("CreateUser","User")',
                type: 'post',
                data: $('#frmUser').serialize(),
                success: function (res) {
                    IntelliERP.Toastr.Show(res.MessageType, res.Message, null);
                    if (res.MessageType == '1') {

                        clearField();
                    }
                },
                error: function () {
                }
            });
        };

        function clearField() {
            $('#UserFullName').val('');
            $('#EmployeeID').val('');
            $('#Email').val('');
            $('#ContactNo').val('');
            $('#UserName').val('');
            $('#Password').val('');
        }

    </script>
}

